<%= gmaps({
  "map_options" => {"auto_zoom" => false, "zoom" => 2, "type" => "SATELLITE", "minZoom" => 2},
  "markers"     => {"data" => @json, "options" => {"custom_infowindow_class" => "infobox-clear clearfix"} }
 })
%>

<% if user_signed_in? %>
	<div style="display: none;">
		<div class="newLocation">
			<%= render "/locations/hidden_form" %>
		</div>
	</div>
<% end %>

<% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
        Gmaps.map.infobox = function(boxText) {
            return {
                content: boxText
                ,disableAutoPan: false
                ,maxWidth: 0
                ,pixelOffset: new google.maps.Size(-140, 0)
                ,zIndex: null
                ,boxStyle: {
                    background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/examples/tipbox.gif') no-repeat"
                    ,opacity: 0.75
                    ,width: "280px"
                }
                ,closeBoxMargin: "10px 2px 2px 2px"
                ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
                ,infoBoxClearance: new google.maps.Size(1, 1)
                ,isHidden: false
                ,pane: "floatPane"
                ,enableEventPropagation: false
            }};
    </script>
    <script type="text/javascript" charset="utf-8">
		var addMode = false;
		var markersArray = [];
        // On click, clear markers, place a new one, update coordinates in the form
		function startAddMode () {
			addMode = true;
			$('.addMode-alert').fadeIn();
			$('#startAddMode').hide();
			$('#cancelAddMode').fadeIn();
		}
		function cancelAddMode () {
			addMode = false;
			$('.addMode-alert').fadeOut();
			$('#cancelAddMode').hide();
			$('#startAddMode').fadeIn();
			clearOverlays();
		}
        Gmaps.map.callback = function() {
            google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
				if (addMode == true) {
	              clearOverlays();
	              placeMarker(event.latLng);
	              updateFormLocation(event.latLng);
				}
            });				
        };
        // Update form attributes with given coordinates and clone form to InfoWindow
        function updateFormLocation(latLng) {
            $('#location_latitude').val(latLng.lat());
            $('#location_longitude').val(latLng.lng());
            $('#location_attributes_gmaps_zoom').val(Gmaps.map.serviceObject.getZoom());
        }
        // Add a marker with an open infowindow
        function placeMarker(latLng) {
            var marker = new google.maps.Marker({
                position: latLng, 
                map: Gmaps.map.serviceObject,
                draggable: true
            });
            markersArray.push(marker);
            // Set and open infowindow
            var infowindow = new google.maps.InfoWindow({
                content: ''
            });
			infowindow.setContent($('.newLocation').clone()[0]);
            infowindow.open(Gmaps.map.serviceObject,marker);
            // Listen to drag & drop
            google.maps.event.addListener(marker, 'dragend', function() {
                updateFormLocation(this.getPosition());
            });
        }
        // Removes the overlays from the map
        function clearOverlays() {
          if (markersArray) {
            for (var i = 0; i < markersArray.length; i++ ) {
              markersArray[i].setMap(null);
            }
          }
          markersArray.length = 0;
        }	
    </script>
	<script type="text/javascript">
		$(window).on('load resize', function() {
			$(".map_container").height(($(window).height()-40)+"px");
		});
	</script>
<% end %>

<div class="addMode-alert">
	Click anywhere on the map to add a new fishing location
</div>