<%= gmaps({
  "map_options" => {"auto_zoom" => false, "zoom" => 2, "type" => "SATELLITE", "minZoom" => 2 },
  "markers"     => {"data" => @json }
 })
%>

<% if user_signed_in? %>
	<div style="display: none;">
		<div class="newLocation">
			<%= render "/locations/hidden_form" %>
		</div>
	</div>
<% end %>

<% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
		var addMode = false;
		var markersArray = [];
        // On click, clear markers, place a new one, update coordinates in the form
		function startAddMode () {
			addMode = true;
			$('.addMode-alert').fadeIn();
			$('#startAddMode').hide();
			$('#cancelAddMode').fadeIn();
		}
		function cancelAddMode () {
			addMode = false;
			$('.addMode-alert').fadeOut();
			$('#cancelAddMode').hide();
			$('#startAddMode').fadeIn();
			clearOverlays();
		}
        Gmaps.map.callback = function() {
            google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
				if (addMode == true) {
	              clearOverlays();
	              placeMarker(event.latLng);
	              updateFormLocation(event.latLng);
				}
            });				
        };
        // Update form attributes with given coordinates and clone form to InfoWindow
        function updateFormLocation(latLng) {
            $('#location_latitude').val(latLng.lat());
            $('#location_longitude').val(latLng.lng());
            $('#location_attributes_gmaps_zoom').val(Gmaps.map.serviceObject.getZoom());
        }
        // Add a marker with an open infowindow
        function placeMarker(latLng) {
            var marker = new google.maps.Marker({
                position: latLng, 
                map: Gmaps.map.serviceObject,
                draggable: true
            });
            markersArray.push(marker);
            // Set and open infowindow
            var infowindow = new google.maps.InfoWindow({
                content: ''
            });
			infowindow.setContent($('.newLocation').clone()[0]);
            infowindow.open(Gmaps.map.serviceObject,marker);
            // Listen to drag & drop
            google.maps.event.addListener(marker, 'dragend', function() {
                updateFormLocation(this.getPosition());
            });
        }
        // Removes the overlays from the map
        function clearOverlays() {
          if (markersArray) {
            for (var i = 0; i < markersArray.length; i++ ) {
              markersArray[i].setMap(null);
            }
          }
          markersArray.length = 0;
        }	
    </script>
<% end %>

<div class="addMode-alert">
	Click anywhere on the map to add a new fishing location
</div>

<%= render "layouts/modal_login" %>
<%= render "layouts/modal_register" %>