// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin round-corners($amount: $default_rounded_amount) {
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

.infobox-clear {
  @include round-corners(5px);
  border: 1px solid #aaaaaa;
  background: #eeeeee;
  padding: 10px;
  margin-top: 5px;
}
.infobox-clear:after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #eeeeee;
  position: absolute;
  top: -5px;
  left: 134px;
}
