<% if user_signed_in? %>
  <li>
  	<%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  	<%= link_to "Login", "#loginModal", "data-toggle" => "modal", "role" => "button" %>
  </li>
<% end %>