<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  <%= link_to "Sign in", "/", "data-toggle" => "modal", "data-target" => "#loginModal" %>
  </li>
<% end %>