<% if user_signed_in? %>
  <li>
  	<%= link_to('Profile', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
	<%= link_to "Register", "#registerModal", "data-toggle" => "modal", "role" => "button" %>
  </li>
<% end %>