<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
	  <%= link_to "ikatere", root_path, :class => "brand" %>
      <div class="container-fluid nav-collapse">
		<form class="navbar-search pull-left">
	      <input type="text" class="search-query" placeholder="Find a place for fishing..." />
	    </form>
        <ul class="nav">
          <li><%= link_to "Advanced Search", "/search"  %></li>
		  <li class="divider-vertical"</li>
		  <li>
            <% if user_signed_in? %>
                <button id="startAddMode" class="btn btn-success" type="submit" onclick="startAddMode()">
                  <i class="icon-map-marker icon-white"></i>
                  Submit a place
                </button>
            <% end %>
			<button id="cancelAddMode" class="btn btn-danger" type="submit" onclick="cancelAddMode()" style="display: none;">
		  	  <i class="icon-map-marker icon-white"></i>
			  Cancel submission
			</button>
		  </li>	
        </ul>
		<ul class="nav pull-right">
			<%= render "/layouts/user_dropdown" %>
		</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>